#!/usr/bin/env xdg-open
[Desktop Entry]
Type=Application
Version=1.0
GenericName=Whats
Name=Whats
Comment=Unofficial Whatsapp Desktop
Exec=whats --system-login
Icon=whats
Terminal=false
Categories=Network;WebBrowser;
X-KDE-StartupNotify=false
